#pathfinding {
  width: 100%;
  margin-bottom: 2rem;
  .lg-heading {
    margin: 4rem;
  }
  #buttons {
    display: flex;
    justify-content: space-evenly;
    .button {
      border: solid thin set-text-color($primary-color);
      border-radius: 2px;
      width: 100px;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
    }
  }
  #grid {
    justify-content: center;
    display: grid;
    width: 1250px;
    margin: auto;
    .node {
      cursor: pointer;
      width: 25px;
      height: 25px;
      border: solid thin $primary-cell-color;
      background-color: $secondary-cell-color;
      &.start {
        background-color: #2ecc71;
        border-color: $secondary-cell-color;
        cursor: move;
      }
      &.end {
        background-color: tomato;
        border-color: $secondary-cell-color;
        cursor: move;
      }
      &.visited {
        background-color: $primary-cell-color;
        border-color: $secondary-cell-color;
      }
      &.path {
        background-color: $secondary-color;
        border-color: $secondary-cell-color;
      }
      &.wall {
        background-color: black;
        border-color: $secondary-cell-color;
      }
    }
  }
}
